alias la="ls -a"
alias ls-="ls"
alias l="ls -al"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ..5="cd ../../../.."
alias ..6="cd ../../../../.."
alias rmd="rm -rf"
alias toop="clear && ls"
alias vimrc="vim ~/.vimrc"
alias zshrc="vim ~/.zshrc"
alias cls="clear"
alias su="sudo -i"
alias vim="nvim"
alias upbrew="brew update && brew upgrade"
alias chrome="open -a Google\ Chrome"

# git commands
alias gs="git status"
alias gd="git diff"
alias gl="git log"
alias gp="git pull"
alias gb="git branch"
alias gcl="git clone"
alias gsh="git stash"
alias gc="git commit -a"
alias ga="git add"
alias grm="git rm"
alias gAA="git add -A"
alias gck="git checkout"
alias gm="git merge"
alias gpo="git push origin"
alias gpom="git push origin master"
